Rebatida         RCDATA "..\\Audio\\Rebatida.mp3"
BlocoNormal      RCDATA "..\\Audio\\BlocoNormal.mp3"
BlocoEspecial    RCDATA "..\\Audio\\BlocoEspecial.mp3"
InicioJogo       RCDATA "..\\Audio\\InicioJogo.mp3"
Morreu           RCDATA "..\\Audio\\Morreu.mp3"
PegouItem        RCDATA "..\\Audio\\PegouItem.mp3"
TelaInicio       RCDATA "..\\Audio\\TelaInicio.mp3"
NivelEscolhido   RCDATA "..\\Audio\\NivelEscolhido.mp3"
PassouFase       RCDATA "..\\Audio\\PassouFase.mp3"
Laser1           RCDATA "..\\Audio\\Laser1.mp3"

FundoTela        RCDATA "..\\Imagens\\FundoTela.Png"

BlocoAzul        RCDATA "..\\Imagens\\Blocos\\BlocoAzul.Png"
BlocoVermelho    RCDATA "..\\Imagens\\Blocos\\BlocoVermelho.Png"
BlocoVerde       RCDATA "..\\Imagens\\Blocos\\BlocoVerde.Png"
BlocoAmarelo     RCDATA "..\\Imagens\\Blocos\\BlocoAmarelo.Png"
BlocoLaranja     RCDATA "..\\Imagens\\Blocos\\BlocoLaranja.Png"
BlocoBranco      RCDATA "..\\Imagens\\Blocos\\BlocoBranco.Png"
EspecialAzul     RCDATA "..\\Imagens\\Blocos\\EspecialAzul.Png"
EspecialRosa     RCDATA "..\\Imagens\\Blocos\\EspecialRosa.Png"
EspecialVermelho RCDATA "..\\Imagens\\Blocos\\EspecialVermelho.Png"
EspecialRoxo     RCDATA "..\\Imagens\\Blocos\\EspecialRoxo.Png"
EspecialCinza    RCDATA "..\\Imagens\\Blocos\\EspecialCinza.Png"
JoiaAzul         RCDATA "..\\Imagens\\Blocos\\JoiaAzul.Png"
JoiaVermelha     RCDATA "..\\Imagens\\Blocos\\JoiaVermelha.Png"
JoiaVerde        RCDATA "..\\Imagens\\Blocos\\JoiaVerde.Png"
JoiaAmarela      RCDATA "..\\Imagens\\Blocos\\JoiaAmarela.Png"
JoiaLaranja      RCDATA "..\\Imagens\\Blocos\\JoiaLaranja.Png"
JoiaBranca       RCDATA "..\\Imagens\\Blocos\\JoiaBranca.Png"

Pause            RCDATA "..\\Imagens\\Pause.Png"
Play             RCDATA "..\\Imagens\\Play.Png"

BolaJogo         RCDATA "..\\Imagens\\BolaJogo.Png"
BolaExtra        RCDATA "..\\Imagens\\BolaExtra.Png"
BolaLaser        RCDATA "..\\Imagens\\BolaLaser.Png"

VausCenter       RCDATA "..\\Imagens\\VausCenter.Png"
VausLaser        RCDATA "..\\Imagens\\VausLateralLaser.Png"
VausNormal       RCDATA "..\\Imagens\\VausLateralNormal.Png"
Dedo             RCDATA "..\\Imagens\\Dedo.Png"

RaioH            RCDATA "..\\Imagens\\RaioHorizontal.Png"

Meteoro1         RCDATA "..\\Imagens\\Meteoro1.Png"
Meteoro2         RCDATA "..\\Imagens\\Meteoro2.Png"

B                RCDATA "..\\Imagens\\Itens\\B.Png"
C                RCDATA "..\\Imagens\\Itens\\C.Png"
D                RCDATA "..\\Imagens\\Itens\\D.Png"
E                RCDATA "..\\Imagens\\Itens\\E.Png"
F                RCDATA "..\\Imagens\\Itens\\F.Png"
G                RCDATA "..\\Imagens\\Itens\\G.Png"
I                RCDATA "..\\Imagens\\Itens\\I.Png"
L                RCDATA "..\\Imagens\\Itens\\L.Png"
M                RCDATA "..\\Imagens\\Itens\\M.Png"
N                RCDATA "..\\Imagens\\Itens\\N.Png"
P                RCDATA "..\\Imagens\\Itens\\P.Png"
R                RCDATA "..\\Imagens\\Itens\\R.Png"
S                RCDATA "..\\Imagens\\Itens\\S.Png"
T                RCDATA "..\\Imagens\\Itens\\T.Png"
V                RCDATA "..\\Imagens\\Itens\\V.Png"
W                RCDATA "..\\Imagens\\Itens\\W.Png"

Num0             RCDATA "..\\Imagens\\0.Png"
Num1             RCDATA "..\\Imagens\\1.Png"
Num2             RCDATA "..\\Imagens\\2.Png"
Num3             RCDATA "..\\Imagens\\3.Png"
Num4             RCDATA "..\\Imagens\\4.Png"
Num5             RCDATA "..\\Imagens\\5.Png"
Num6             RCDATA "..\\Imagens\\6.Png"
Num7             RCDATA "..\\Imagens\\7.Png"
Num8             RCDATA "..\\Imagens\\8.Png"
Num9             RCDATA "..\\Imagens\\9.Png"

